.Login {
    margin-top: 100px;
    .Form {
        display: flex;
        flex-direction: column;
    }
}

.FadeEnter {
    opacity: 0;
}
.FadeExit {
    opacity: 1;
}
.FadeEnterActive {
    opacity: 1;
}
.FadeExitActive {
    opacity: 0;
}
.FadeEnterActive,
.FadeExitActive {
    transition: opacity 300ms;
}
